---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or
page.header.image %} {% include page__hero.html %} {% elsif page.header.video.id
and page.header.video.provider %} {% include page__hero_video.html %} {% endif
%} {% if page.url != "/" and site.breadcrumbs %} {% unless paginator %} {%
include breadcrumbs.html %} {% endunless %} {% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="archive">
    <div>
      <br />
      <h1
        id="page-title"
        class="page__title"
        tabindex="-1"
        style="outline: none"
      >
        {{ "hello, world! 😊" | downcase }}
      </h1>
    </div>

    <section id="work" class="taxonomy_section">
      <h2 class="archive__subtitle">my work experience</h2>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>Deloitte</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          Incoming Summer Project Intern | June 2025 - Aug 2025 | Full-time<br />
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Technology & Transformation Function
          </li>
        </ul>
        <div style="margin-bottom: 30px"></div>
      </div>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>AIA</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          IT Audit Intern | Apr 2025 - May 2025 | Part-time<br />
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Group Internal Audit
          </li>
        </ul>
        <div style="margin-bottom: 30px"></div>
      </div>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>Manulife Investment Management</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          Technology Placement Intern | Jun 2024 - Dec 2024 | Full-time<br />
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Global Wealth and Asset Management (GWAM) Asia Technology
          </li>
        </ul>
        <img
          src="../assets/images/manulife-investment-management.jpg"
          alt="Manulife Investment Management"
        />
        <div style="margin-bottom: 30px"></div>
      </div>

      <a href="#page-title" class="back-to-top">Back to Top ↑</a>
    </section>

    <div style="margin-bottom: 30px"></div>

    <section id="achievement" class="taxonomy_section">
      <h2 class="archive__subtitle">my achievements</h2>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>2024 Manulife Hacksgiving Hackathon</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          Participant | Nov 2024 | Hong Kong<br />
        </p>
        <p class="archive__item-excerpt" itemprop="description">
          Received 2024 Manulife Hacksgiving Hackathon Certificate of
          Participation.
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Team GenAI API Analyzer
          </li>
        </ul>
        <div style="margin-bottom: 30px"></div>
      </div>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>2024 Morgan Stanley Asia Code To Give Hackathon</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          Participant | Aug 2024 | Hong Kong<br />
        </p>
        <p class="archive__item-excerpt" itemprop="description">
          Received 2024 Morgan Stanley Code To Give Hackathon Certificate of
          Participation.
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Led a team of 8 in a hybrid hackathon, designing an end-to-end web
            application for a non-profit organization to efficiently manage
            events, participants and volunteers.
          </li>
          <li class="archive__item-excerpt" itemprop="description">
            Delivered a high-impact onsite demonstration for containerizing and
            configuring 2 critical components (backend server and database)
            using Docker, ensuring seamless connectivity and boosting
            development efficiency.
          </li>
          <li class="archive__item-excerpt" itemprop="description">
            Harnessed full-stack frameworks that include React, Django,
            PostgreSQL, Docker and Git to craft a scalable and production-ready
            application while enhancing teamwork, collaboration and
            communication expertise.
          </li>
        </ul>
        <img
          src="../assets/images/morgan-stanley-hackathon.jpg"
          alt="Morgan Stanley Hackathon"
        />
        <div style="margin-bottom: 30px"></div>
      </div>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>2023 Deloitte CyberAce Competition</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          Participant | Oct 2023 - Nov 2023 | Hong Kong<br />
        </p>
        <p class="archive__item-excerpt" itemprop="description">
          Received 2023 Deloitte CyberAce Competition Certificate of
          Achievement.
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Pioneered the first-ever bid simulation with 3 teammates through
            writing request for proposal (RFP) and gained immersive experience
            of the process of cybersecurity consulting business bidding.
          </li>
          <li class="archive__item-excerpt" itemprop="description">
            Tackled real-life cybersecurity challenges given by AWS AI and
            presented our all-in-one solution “DevOptima” that can be applied to
            assist both enterprise’s innovation and cybersecurity improvement in
            the era of Generative AI.
          </li>
        </ul>
        <img
          src="../assets/images/deloitte-cyberace.jpg"
          alt="Deloitte CyberAce"
        />
        <div style="margin-bottom: 30px"></div>
      </div>

      <div>
        <div style="margin-bottom: 30px"></div>
        <h5>2023 Hyundai MOBIS ESG Ideathon</h5>
        <p style="font-size: 14px; color: rgb(95, 95, 95)">
          Participant | Jul 2023 - Aug 2023 | Seoul, South Korea<br />
        </p>
        <p class="archive__item-excerpt" itemprop="description">
          Received 2023 Hyundai MOBIS ESG Ideathon Grand Award.
        </p>
        <ul>
          <li class="archive__item-excerpt" itemprop="description">
            Designed a creative ESG project with 5 members to reduce 108,520
            tCO2eq amount of carbon emission by recycling broken car parts to
            invent “Smart LED Crosswalk”, achieving 33% reduction in Hyundai
            Mobis’s annual carbon emission.
          </li>
          <li class="archive__item-excerpt" itemprop="description">
            Demonstrated our real-world prototype of “Smart LED Crosswalk” using
            Arduino and C programming language designed and created by our team
            to show both hardware (LEDs, sensors, and a power supply) and
            software worked flawlessly.
          </li>
        </ul>
        <img
          src="../assets/images/hyundai-mobis-esg-ideathon.jpg"
          alt="Hyundai MOBIS ESG Ideathon"
        />
        <div style="margin-bottom: 30px"></div>
      </div>

      <a href="#page-title" class="back-to-top">Back to Top ↑</a>
    </section>

    <div style="margin-bottom: 30px"></div>
  </div>
</div>
